.cartoon__container{
  display: grid;
  grid-template-columns: repeat(auto-fit, 250px);
  grid-template-rows: auto;
  grid-gap: 5px;
  justify-content: center;
  

  @media all and (min-width:768px){
    grid-gap: 40px;
  }

  @media all and (min-width:1200px){
    grid-gap: 40px;
  }

 
}




