.cartoon__item{
  margin: auto;  
  width: 200px;
  height: 250px;
  align-items: center;

  &__container{
    width: 180px;
    height: 67px;
    background-color:rgb(252, 250, 119);
    
  }

  &__title{
    color:rgb(234, 131, 47);
    font-size: 17px;
    text-align: center;
    margin: 0 auto;
    padding: 5px;
  }

  &__specie{
    margin: 0 ;
    text-align: center;
    color:rgb(234, 131, 4);
  }

  &__img{
    width: 90%;
  }

  
}



  
