.cartoon__item{
  margin: auto;  
  width: 235px;
  height: 250px;
  align-items: center;
}
.cartoon__titte__container{
  width: 235px;
  background-color:rgb(252, 250, 119);
  margin: 0;
}

.cartoon__title{
    margin: auto;
    text-align: center;
    color:rgb(234, 131, 47);
}

.cartoon__specie{
    margin: auto;
    text-align: center;
    color:rgb(234, 131, 4);
}

  
